

extends layout

block content
  .container-play
    .puntos
      h1 Puntos
      p #{juego.player1.getName()}: #{juego.score[0]}
      p #{juego.player2.getName()}: #{juego.score[1]}
      h1 Jugada:
      if juego.currentRound.fsm.current == "init"
        p ultima jugada: -
      else if juego.currentRound.fsm.current == "primercarta" || juego.currentRound.fsm.current == "playedcard"
        p ultima jugada: se jugo una carta
      else
        p ultima jugada: #{juego.currentRound.fsm.current}
    //lugar que va a representar la mesa (cartas jugadas)
    .mesa
      h1 Mesa 
      table
        each i in juego.currentRound.cartasJugadas()
          td 
            img(src="/img/cartas/#{i.show()}")
    // muestro las cartas que tiene disponible un jugador
    if juego.player2.name == null
      h1 Esperando oponente
    .posiblesJugadas
      if juego.score[0] >= 15
        h1 SE TERMINO LA PARTIDA
        p ganador: #{p1}
        a(href='/configGame')
          button.btn.btn-default(type="button") Home
      else if juego.score[1] >= 15
        h1 SE TERMINO LA PARTIDA
        p ganador: #{p2}
        a(href='/configGame')
          button.btn.btn-default(type="button") Home
      else if juego.currentRound.status == "abandono"
        if juego.currentRound.currentTurn.name == p1
          h1 SE TERMINO LA PARTIDA
          p el jugador #{p1} abando la partida
          p ganador: #{p2}
          a(href='/configGame')
            button.btn.btn-default(type="button") Home
        if juego.currentRound.currentTurn.name == p2
          h1 SE TERMINO LA PARTIDA
          p el jugador #{p2} abando la partida
          p ganador: #{p1}
          a(href='/configGame')
            button.btn.btn-default(type="button") Home
      else
        if juego.currentRound.status == "stop"
          h1 SE TERMINO LA MANO
          form(role='form', action="/play",method="post")
            input(type="hidden", name="idPartida", value="#{juego._id}")
            input#proxRound.btn.btn-default(type="submit", name="action", value="Proxima ronda")
        else
          h1 Tus cartas:
          if us == p1
            table
              tr(style="text-align:center;")
                if juego.player1.card1 !== null
                  td
                    p #1 
                if juego.player1.card2 !== null
                  td
                    p #2
                if juego.player1.card3 !== null
                  td
                    p #3 
              tr
                if juego.player1.card1 !== null
                  td
                      img(src="/img/cartas/#{juego.player1.card1.show()}")
                if juego.player1.card2 !== null
                  td
                      img(src="/img/cartas/#{juego.player1.card2.show()}")
                if juego.player1.card3 !== null
                  td   
                      img(src="/img/cartas/#{juego.player1.card3.show()}")
            br
            p Puntos del envido: #{juego.player1.pointsCards}

          if juego.player1 == juego.currentRound.currentTurn && us == p1
            h1 Posibles jugadas:
            form(role='form', action="/play",method="post")
              input(type="hidden", name="idPartida", value="#{juego._id}")
              // si envido es un estado posible, entonces se mostrara.
              // si quiero es un estado posible, entonces se mostrara.
              // si no-quiero es un estado posible, entonces se mostrara.
              // si truco es un estado posible, entonces se mostrara.
              // si EnvidoEnvido es un estado posible, entonces se mostrara.
              // si reTruco es un estado posible, entonces se mostrara
              #{a = juego.currentRound.posiblesStates()}
              each item in a
                if item == "playCard"
                  if juego.currentRound.currentTurn.card1 !== null
                    input#carta1.btn.btn-default(type="submit", name="action", value="Jugar Carta #1")
                  if juego.currentRound.currentTurn.card2 !== null
                    input#carta2.btn.btn-default(type="submit", name="action", value="Jugar Carta #2")
                  if juego.currentRound.currentTurn.card3 !== null
                    input#carta3.btn.btn-default(type="submit", name="action", value="Jugar Carta #3")
                else
                  if item == "truco"
                    if juego.currentRound.esTruco !== true
                      input#truco.btn.btn-default(type="submit", name="action", value="#{item}")
                  else
                    if item == "reTruco"
                      if juego.currentRound.esReTruco !== true
                        input#retruco.btn.btn-default(type="submit", name="action", value="#{item}")
                    else
                      if item == "valeCuatro"
                        if juego.currentRound.esValeCuatro !== true
                          input#valecuatro.btn.btn-default(type="submit", name="action", value="#{item}")  
                      else
                        input#jugada.btn.btn-default(type="submit", name="action", value="#{item}")
              input#irAlMazo.btn.btn-default(type="submit", name="action", value="ir al mazo")
              input#abandonar.btn.btn-default(type="submit", name="action", value="abandonar")
              &nbsp;
          if us == p2
            table
              tr(style="text-align:center;")
                if juego.player2.card1 !== null
                  td
                    p #1 
                if juego.player2.card2 !== null
                  td
                    p #2
                if juego.player2.card3 !== null
                  td
                    p #3   
              tr
                if juego.player2.card1 !== null
                  td
                      img(src="/img/cartas/#{juego.player2.card1.show()}")
                if juego.player2.card2 !== null
                  td
                      img(src="/img/cartas/#{juego.player2.card2.show()}")
                if juego.player2.card3 !== null
                  td
                      img(src="/img/cartas/#{juego.player2.card3.show()}")
            br
            p Puntos del envido: #{juego.player2.pointsCards}
          if juego.player2 == juego.currentRound.currentTurn && us == p2
            h1 Posibles jugadas:
            form(role='form', action="/play",method="post")
              input(type="hidden", name="idPartida", value="#{juego._id}")
              // si envido es un estado posible, entonces se mostrara.
              // si quiero es un estado posible, entonces se mostrara.
              // si no-quiero es un estado posible, entonces se mostrara.
              // si truco es un estado posible, entonces se mostrara.
              // si EnvidoEnvido es un estado posible, entonces se mostrara.
              // si reTruco es un estado posible, entonces se mostrara.
              #{a = juego.currentRound.posiblesStates()}
              each item in a
                if item == "playCard"
                  if juego.currentRound.currentTurn.card1 !== null
                    input#carta1.btn.btn-default(type="submit", name="action", value="Jugar Carta #1")
                  if juego.currentRound.currentTurn.card2 !== null
                    input#carta2.btn.btn-default(type="submit", name="action", value="Jugar Carta #2")
                  if juego.currentRound.currentTurn.card3 !== null
                    input#carta3.btn.btn-default(type="submit", name="action", value="Jugar Carta #3")
                else
                  if item == "truco"
                    if juego.currentRound.esTruco !== true
                      input#truco.btn.btn-default(type="submit", name="action", value="#{item}")
                  else
                    if item == "reTruco"
                      if juego.currentRound.esReTruco !== true
                        input#retruco.btn.btn-default(type="submit", name="action", value="#{item}")  
                    else
                      if item == "valeCuatro"
                        if juego.currentRound.esValeCuatro !== true
                          input#valecuatro.btn.btn-default(type="submit", name="action", value="#{item}")  
                      else
                        input#jugada.btn.btn-default(type="submit", name="action", value="#{item}")
              input#irAlMazo.btn.btn-default(type="submit", name="action", value="ir al mazo")
              input#abandonar.btn.btn-default(type="submit", name="action", value="abandonar")
              &nbsp;
  script(src='https://cdn.socket.io/socket.io-1.4.5.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script.

    var socket = io();
    $('#carta1').click(function(){
      socket.emit('chat message', $("#carta1").val());
    });

    $('#carta2').click(function(){
      socket.emit('chat message', $("#carta2").val());
    });

    $('#carta3').click(function(){
      socket.emit('chat message', $("#carta3").val());
    });

    $('#truco').click(function(){
      socket.emit('chat message', $("#truco").val());
    });

    $('#retruco').click(function(){
      socket.emit('chat message', $("#retruco").val());
    });

    $('#valecuatro').click(function(){
      socket.emit('chat message', $("#valecuatro").val());
    });

    $('#jugada').click(function(){
      socket.emit('chat message', $("#jugada").val());
    });

    $('#proxRound').click(function(){
      socket.emit('chat message', "proxima ronda");
    });

    $('#irAlMazo').click(function(){
      alert("compra la version full del juego para poder ir al mazo")
    });

    $('#abandonar').click(function(){
      socket.emit('chat message', "abandonar");
    });

    socket.on('chat message', function(msg){
      location.reload();
    });
