

extends layout

block content

  h1
      p Puntos de #{juego.player1.name}: #{juego.score[0]}
      p Puntos de #{juego.player2.name}: #{juego.score[1]}
      p Sesion de #{us}
      p #{p1}
      p #{p2}

  .container
    if juego.score[0] >= 15 || juego.score[1] >= 15
      h1 SE TERMINO LA PARTIDA
      a(href="/") Home
    else
      if juego.currentRound.status == "stop"
        h1 SE TERMINO LA MANO
        a(href="/newRound") Proxima Ronda
      else
        .mesa
          h1
            each i in juego.currentRound.cartasJugadas
              h3 #{i}
        // muestro las cartas que tiene disponible un jugador
        if juego.player2.name == null
          h1 Esperando oponente
        if juego.player1.name == juego.currentRound.currentTurn.name && us == p1
          h1 Turno de: #{p1}
          if juego.currentRound.currentTurn.card1 !== null
            p #1   #{juego.player1.card1.number} - #{juego.player1.card1.suit}
          if juego.currentRound.currentTurn.card2 !== null
            p #2   #{juego.player1.card2.number} - #{juego.player1.card2.suit}
          if juego.currentRound.currentTurn.card3 !== null
            p #3   #{juego.player1.card3.number} - #{juego.player1.card2.suit}
          p Puntos del envido: #{juego.player1.pointsCards}
          h2 Posibles jugadas
          form(role='form', action="/play",method="post")
            input(type="hidden", name="idPartida", value="#{juego._id}")
            // si envido es un estado posible, entonces se mostrara.
            // si quiero es un estado posible, entonces se mostrara.
            // si no-quiero es un estado posible, entonces se mostrara.
            // si truco es un estado posible, entonces se mostrara.
            // si EnvidoEnvido es un estado posible, entonces se mostrara.
            //#{a = juego.currentRound.posiblesStates()}
            each item in estados
              if item == "playCard"
                if juego.currentRound.currentTurn.card1 !== null
                  input(type="submit", name="action", value="Jugar Carta #1")
                if juego.currentRound.currentTurn.card2 !== null
                  input(type="submit", name="action", value="Jugar Carta #2")
                if juego.currentRound.currentTurn.card3 !== null
                  input(type="submit", name="action", value="Jugar Carta #3")
              else
                if item == "truco"
                  if juego.currentRound.esTruco !== true
                    input(type="submit", name="action", value="#{item}")
                else
                  input(type="submit", name="action", value="#{item}")
            &nbsp;
        if juego.player2.name == juego.currentRound.currentTurn.name && us == p2
          h1 Turno de: #{p2}
          if juego.currentRound.currentTurn.card1 !== null
            p #1   #{juego.player2.card1.name} - #{juego.player2.card1.suit}
          if juego.currentRound.currentTurn.card2 !== null
            p #2   #{juego.player2.card2.name} - #{juego.player2.card2.suit}
          if juego.currentRound.currentTurn.card3 !== null  
            p #3   #{juego.player2.card3.name} - #{juego.player2.card3.suit}
          p Puntos del envido: #{juego.player2.pointsCards}
          h2 Posibles jugadas
          form(role='form', action="/play",method="post")
            input(type="hidden", name="idPartida", value="#{juego._id}")
            // si envido es un estado posible, entonces se mostrara.
            // si quiero es un estado posible, entonces se mostrara.
            // si no-quiero es un estado posible, entonces se mostrara.
            // si truco es un estado posible, entonces se mostrara.
            // si EnvidoEnvido es un estado posible, entonces se mostrara.
            #{a = juego.currentRound.posiblesStates()}
            each item in a
              if item == "playCard"
                if juego.currentRound.currentTurn.card1 !== null
                  input(type="submit", name="action", value="Jugar Carta #1")
                if juego.currentRound.currentTurn.card2 !== null
                  input(type="submit", name="action", value="Jugar Carta #2")
                if juego.currentRound.currentTurn.card3 !== null
                  input(type="submit", name="action", value="Jugar Carta #3")
              else
                if item == "truco"
                  if juego.currentRound.esTruco !== true
                    input(type="submit", name="action", value="#{item}")
                else
                  input(type="submit", name="action", value="#{item}")
            &nbsp;