extends layout

block content
  .container
    h1 Turno de: #{juego.currentRound.currentTurn.getName()}
    p #{juego.currentRound.currentTurn.card1.show()}
    p #{juego.currentRound.currentTurn.card2.show()}
    p #{juego.currentRound.currentTurn.card3.show()}
    p Puntos del envido: #{juego.currentRound.currentTurn.pointsCards}
    hr
    h2 Posibles jugadas
    form(role='form', action="/play",method="post")
      #{a = juego.currentRound.posiblesStates()}
      each item in a
        if item == "playCard"
          if juego.currentRound.currentTurn.card1 !== null
            input(type="submit", name="accion", value="#{juego.currentRound.currentTurn.card1.show()}")
          if juego.currentRound.currentTurn.card2 !== null
            input(type="submit", name="accion", value="#{juego.currentRound.currentTurn.card2.show()}")
          if juego.currentRound.currentTurn.card3 !== null
            input(type="submit", name="accion", value="#{juego.currentRound.currentTurn.card3.show()}")
        else
          input(type="submit", name="accion", value="#{item}")
      &nbsp;